/* style.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #090101;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(245, 244, 249);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: rgb(15, 6, 6);
    text-decoration: none;
    margin: 0 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

.hero {
    background-image: url('../images/music.jpg'); /* Use the path to your image */
    background-size: cover;
    background-position: center;
    color: rgb(245, 242, 242);
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 2.5em;
    margin: 0;
}

.form-container {
    background-color: #110202;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
}

.form-container select,
.form-container input,
.form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #218838;
}